includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/spaze/phpstan-disallowed-calls/extension.neon

parameters:
    paths:
        - app/
        - tests/

    level: 9
    noUnnecessaryCollectionCallExcept: ['pluck', 'contains']

    disallowedFunctionCalls:
        -
            function: 'var_dump()'
            message: 'use logger instead'
        -
            function: 'print_r()'
            message: 'use logger instead'
        -
            function: 'd()'
            message: 'use logger instead'
        -
            function: 'dd()'
            message: 'use logger instead'
        -
            function: 'die()'
            message: 'use logger instead'
        -
            function: 'dump()'
            message: 'use logger instead'
        -
            function: 'print()'
            message: 'use logger instead'
        -
            function: 'echo'
            message: 'use logger instead'
        -
            function: 'eval()'
            message: 'not allowed for security reasons'
        -
            function: 'exit()'
            message: 'not allowed for security reasons'

    typeAliases:
        ValidationRules: 'array<string, array<\Illuminate\Contracts\Validation\Rule|\Illuminate\Contracts\Validation\ValidationRule|string>|string>'

    ignoreErrors:
        - message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
          path: app/Casts/MoneyValueObjectCast.php
          count: 1
        - message: '#Cannot call method assertExitCode\(\) on Illuminate\\Testing\\PendingCommand\|int#'
          path: tests/Feature/*
        -
            message: '#::cast\(\) has parameter \$context with generic class Spatie\\LaravelData\\Support\\Creation\\CreationContext but does not specify its types#'
            paths:
                - app/Casts/*
                - app/ValueObjects/*

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php

#    reportUnmatchedIgnoredErrors: false
