body,
html {
  font-family: 'PT Sans', sans-serif;
  overflow-x: hidden;
  width: 100%; }
section.section-1 {
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-color: #001E57;
    background-position: top center;
    position: relative;
}
section.section-1:after {
    position: absolute;
    content: '';
    bottom: -100px;
    left: calc(50vw - 960px);
    width: 1920px;
    height: 290px;
    background: #001E57;
    background-image: url(../images/bg-2.png);
    z-index: 1;
}

.container {
	max-width: 1170px;
}

.header-block {
    padding-top: 50px;
    padding-bottom: 150px;
}

.header-block .logo-icon {
    background-image: url(../images/gm-logo.png);
    width: 34px;
    height: 34px;
}

.header-block h1 {
    color: #fff;
    font-size: 45px;
    max-width: 550px;
    margin-top: 65px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 58px;
}

.text-1,
.text-7 {
    margin-top: 40px;
    font-size: 20px;
    color: #85a4b9;
    max-width: 440px;
    margin-bottom: 0;
}

.text-2,
.text-8 {
    color: #fffeff;
    font-size: 22px;
    letter-spacing: -0.8px;
    margin-bottom: 50px;
}
.text-3 {
    color: #feffff;
    font-size: 14px;
    padding: 16px;
    letter-spacing: 0.2px;
}
.text-4 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 18px;
}

.text-5 {
    text-align: center;
    margin-top: 24px;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0px;
    margin-left: -30px;
}

.underline-1 {
    position: relative;
}

.underline-1:after {
    position: absolute;
    bottom: -4px;
    left: 8px;
    width: 143px;
    height: 5px;
    background-image: url(../images/underline-1.png);
    content: '';
}

button.btn.btn-primary {
    border: 0;
    background-color: #f9d914 !important;
    color: #010002 !important;
    padding: 21px 68px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus,.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,.btn-primary.focus, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:hover, .btn-primary:not(:disabled):not(.disabled):active:hover, .show>.btn-primary.dropdown-toggle:hover,.btn-primary.focus, .btn-primary:hover {
    box-shadow: 0 6px 40px #f9d91496;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

.button-hint {
    color: #fada16;
    padding: 9px  38px;
    font-size: 18px;
    font-weight: bold;
}

.header-card {
    position: relative;
}

.header-card:after {
    width: 1066px;
    height: 672px;
    content: '';
    background-image: url(../images/header-hands.png);
    position: absolute;
    top: -672px;
    right: -378px;
    z-index: 0;
    background-repeat: no-repeat;
}

.header-card:before {
    position: absolute;
    background: #ffffff;
    width: 1570px;
    min-height: 485px;
    content: '';
    z-index: 0;
    top: 0;
    left: -205px;
    border-radius: 25px;
}

.header-card .card-image {
    width: 260px;
    height: 175px;
    margin: 0 auto;
}
.header-card .card-image.card-icon-1 {
    background-image: url(../images/header-card-icon-1.png);
}
.header-card .card-image.card-icon-2 {
    background-image: url(../images/header-card-icon-2.png);
}
.header-card .card-image.card-icon-3 {
    background-image: url(../images/header-card-icon-3.png);
}

.header-card h4.card-title {
    font-size: 18px;
    font-weight: bold;
    padding: 9px 0;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
}

.header-card .card-content {
    padding: 0;
    text-align: center;
    max-width: 300px;
    letter-spacing: -0.5px;
    margin: 0 auto;
    color: #7c7c7c;
    min-height: 245px;
}

.owl-carousel.slider-1 .owl-item img {
    width: auto;
    margin: 0 auto;
}

.owl-carousel.slider-1 .owl-item {
    text-align: center;
    margin-top: 32px;
    font-weight: bold;
}

.owl-carousel.slider-1 .owl-item h4 {
    color: #eef0f4;
    font-weight: bold;
}

.owl-carousel.slider-1 .owl-item .item-content {
    color: #b4bbcd;
    max-width: 370px;
    margin: 18px auto;
    line-height: 25px;
}

.slider-1 {
    position: relative;
}

.slider-1:after,
.slider-1:before {
    position: absolute;
    top: 0;
    content: '';
    background-repeat: repeat-y;
    width: 20px;
    height: 100%;
    z-index: 1;
    display: none;
}
.slider-1:after {
    right: -10px;
    background-image: url(../images/slider-fade-right.png);
}
.slider-1:before {
    left: -10px;
    background-image: url(../images/slider-fade-left.png);
}
.header-slider {
    position: relative;
}

.header-slider:after {
    position: absolute;
    top: 100px;
    left: -390px;
    content: '';
    width: 1920px;
    height: 353px;
    background-image: url(../images/line-1.png);
    z-index: 0;
}
.slider-1 .owl-prev,
.slider-1 .owl-next {
    width: 63px;
    height: 83px;
    background-repeat: no-repeat;
}
.slider-1 .owl-prev {
    background-image: url(../images/slide-btn-left.png);
}
.slider-1 .owl-next {
    background-image: url(../images/slide-btn-right.png);
}
.header-slider .owl-prev {
    position: absolute;
    left: -80px;
    bottom: calc(50% - 135px);
}
.header-slider .owl-next {
    position: absolute;
    right: -80px;
    bottom: calc(50% - 135px);
}
.header-slider .owl-prev,
.header-slider .owl-next {
    z-index: 2;
}
.header-slider .owl-prev {
    position: absolute;
    bottom: calc(50% - 135px);
}
.header-slider .owl-next {
    position: absolute;
    bottom: calc(50% - 135px);
}
.header-slider .owl-dots .owl-dot {
    background: #1B3568;
    width: 21px;
    height: 9px;
    margin: 0 5px;
    border-radius: 20px;
    -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
    transition: width .5s;
}

.header-slider .owl-dots {
    display: flex;
    max-width: 300px;
    margin: 50px auto;
    min-height: 24px;
}

.header-slider .owl-dots .owl-dot.active {
    background-color: #013CA4;
    width: 92px;
}
.block-1 {
    text-align: center;
    position: relative;
    z-index: 2;
}
h4.title-1 {
    font-size: 48px;
    color: #010101;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 0;
}

.block-2 {
    margin-top: 153px;
    position: relative;
    z-index: 1;
}

ul.list-1 {
    margin: 0;
    padding: 0;
}

ul.list-1 li.list-item {
    list-style: none;
    display: flex;
    margin-bottom: 3px;
    align-items: center;
}

ul.list-1 .item-number {
    color: #f9d912;
    font-size: 72px;
    font-weight: bold;
    padding: 3px 0;
}

ul.list-1 .item-text {
    width: 220px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 13px;
    letter-spacing: 1.3px;
    margin-top: 4px;
}
.block-2:after {
    position: absolute;
    bottom: 6px;
    right: -81px;
    content: '';
    width: 830px;
    height: 537px;
    background-image: url(../images/block-2-image.png);
}

section.section-3:before {
    background-image: url(../images/bg-3.png);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -70px;
    left: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #001D55;
    z-index: -1;
    /*opacity: .3;*/
}

section.section-3:after {
    background-image: url(../images/bg-4.png);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 10px;
    left: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 1;
}

.section-3 h2 {
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 1px;
}

section.section-3 {
    position: relative;
    z-index: 0;
}

section.section-3 .container {
    padding-top: 622px;
    padding-bottom: 100px;
    color: #fffffd;
}

.slider-2 .slider-card {
    background: #ffffff;
    color: #000;
    max-width: 340px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 26px 40px;
    padding-bottom: 60px;
    line-height: 23.9px;
    position: relative;
}

.slider-2 {
    margin-top: 40px;
    padding-bottom: 65px;
}

.slider-2 .card-name {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-top: 32px;
}

.slider-2 .card-content {
    text-align: center;
}

.slider-2 .card-position {
    text-align: center;
    font-size: 13px;
    line-height: 19px;
    color: #8D8D8D;
}


.slider-2 img.card-avatar {
    width: auto;
    position: absolute;
    bottom: -65px;
    left: calc(50% - 54px);
}

.slider-2  {
    overflow: visible;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.section-slider {
    position: relative;
    margin-bottom: 72px;
    z-index: 2;
}

.section-slider:after,
.section-slider:before {
    position: absolute;
    background: rgb(0,29,85);
    width:500px;
    height: 100%;
    top: 0;
    content: '';
    z-index: 2;
}

.section-slider:after {
    left: -400px;
    background: linear-gradient(90deg, rgba(0,29,85,0.7) 0%, rgba(0, 29, 85, 0.7) 90%, rgba(255,255,255,0) 100%);
}

.section-slider:before {
    right: -400px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,29,85,0.7) 10%, rgba(0,29,85,0.7) 100%);
}

.splide__arrow {
    position: relative;
    z-index: 10 !important;
}

.custom-arrow:focus {
    outline: none;
    box-shadow: none;
}

.slider-2 .owl-prev,
.slider-2 .owl-next {
    width: 63px;
    height: 83px;
    background-repeat: no-repeat;
}
.slider-2 .owl-prev {
    background-image: url(../images/slide-btn-left.png);
}
.slider-2 .owl-next {
    background-image: url(../images/slide-btn-right.png);
}
.section-slider .owl-prev,
.section-slider .owl-next {
    z-index: 2;
}
.section-slider .owl-prev,
.section-slider .owl-next {
    position: absolute;
    bottom: calc(75% - 135px);
}

.section-slider .owl-prev {
    left: 80px;
}

.section-slider .owl-next {
    right: 80px;
}

h3.title-2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
}
ul.list-2 {
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}
ul.list-2:after {
    position: absolute;
    width: 973px;
    height: 2px;
    content: '';
    background-image: url(../images/line-2.png);
    top: 83px;
    left: calc(50% - 486.5px);
}

ul.list-2 .list-item {
    list-style: none;
    width: 159px;
    text-align: center;
    padding-top: 118px;
    /*margin: 0 32px;*/
    line-height: 22px;
    position: relative;
    z-index: 2;
    flex: 0;
}

ul.list-2 li.list-item:after {
    position: absolute;
    width: 60px;
    height: 60px;
    content: '';
    top: 45px;
    left: calc(50% - 30px);
    background-image: url(../images/icon-check.png);
    z-index: 1;
}

h3.title-3 {
    font-weight: bold;
    font-size: 45px;
    padding: 28px 94px;
    margin-bottom: 15px;
}

.cost-card {
    background-color: #F9D914;
    border-radius: 35px;
    position: relative;
}
.cost-card:after {
    position: absolute;
    top: -230px;
    right: 43px;
    content: '';
    background-image: url(../images/block-3-image.png);
    width: 564px;
    height: 482px;
}

.card-content .card-title-1 {
    padding: 47px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
}

.card-title-1 .title-cost {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    width: 180px;
    letter-spacing: 1px;
    margin-left: 45px;
    text-decoration: line-through;
}

.card-title-1 .title-red {
    color: #f00;
    font-weight: bold;
    font-size: 17px;
    margin-top: 6px;
    width: 210px;
}

.card-content .card-title-2 {
    font-size: 68px;
    font-weight: bold;
    color: #000;
    margin-left: 83px;
    margin-top: -10px;
    padding: 0 0px 0px 3px;
    position: relative;
    width: 382px;
    height: 102px;
}

.card-content .card-title-2:after {
    position: absolute;
    content: '';
    height: 16px;
    width: 100%;
    background: #f00;
    bottom: 14px;
    left: 0;
    z-index: 0;
}

.text-6 {
    width: 400px;
    font-size: 16px;
    margin: 16px 110px;
    color: #887809;
    letter-spacing: -0.5px;
    line-height: 24px;
    padding-bottom: 57px;
}

.card-content .card-title-2:before {
    content: '600 ₽ / год *';
    z-index: 1;
    position: absolute;
    width: 382px;
    height: 102px;
}

.expansions {
    display: flex;
    margin: 0px 75px;
    justify-content: space-around;
    margin-right: 0px;
    margin-bottom: -10px;
}

.expansions p {
    min-width: 280px;
    font-size: 20px;
    font-weight: bold;
    padding: 21px 0;
    line-height: 28px;
}

.expansions img {
    width: 118px;
    height: 70px;
    margin: 24px 0px;
    border-left: 1px solid #e5e5e5;
    padding-left: 27px;
}

.block-4 {
    background-color: #f5f6f0;
    margin-top: 40px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.block-4 .block-content {
    width: 500px;
    margin-left: 640px;
    padding: 72px 0px;
    padding-bottom: 56px;
}

.block-4 .block-content h3 {
    font-size: 45px;
    font-weight: bold;
    padding: 0 12px;
    color: #000;
}

.block-4 .block-content p {
    font-size: 19px;
    padding: 17px 11px;
    letter-spacing: -0.5px;
    padding-right: 95px;
    line-height: 29px;
    color: #000;
}
.block-4 .block-content p a {
    color: #006A95;
}
.block-4:after {
    position: absolute;
    bottom: -12px;
    left: 95px;
    width: 520px;
    height: 460px;
    background-image: url(../images/block-4-image.png);
    content: '';
    z-index: 0;
}
h3.title-4 {
    font-weight: bold;
    font-size: 55px;
    padding: 62px 0;
    line-height: 58px;
    padding-bottom: 0;
    margin-bottom: -4px;
}
.text-7 {
    color: #99999B;
}
.text-8 {
    color: #000100;
}
.block-5 {
    padding-bottom: 140px;
    position: relative;
}
.section-5 {
    position: relative;
}
.section-5:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 778px;
    background-image: url(../images/block-5-image.png);
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -1;
}
section.footer {
    background-color: #0f1120;
    padding-bottom: 25px;
}
.footer .links {
    display: flex;
    justify-content: space-between;
}

.footer .links a {
    color: #fffeff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding: 38px 0px;
    padding-bottom: 19px;
}

.footer hr {
    border-top: 1px solid rgb(39, 41, 56);
}

.footer .title-8 {
    color: #7a7b7f;
    font-weight: bold;
    font-size: 18px;
    margin-top: 16px;
}
.text-9 {
    color: #fdfefc;
    padding-top: 2px;
    line-height: 22px;
}

.text-9 img {
    margin-top: 20px;
}
.footer .btn-outline {
    border: 1px solid #333542;
    color: #fff;
    border-radius: 7px;
    padding: 12px 0;
    padding-right: 20px;
    margin-bottom: 10px;
}
.footer .btn-outline i.fa {
    color: #585a67;
    padding: 0 15px;
}

.footer .btn-outline:hover {
    background: #181a27;
}
.partners {
    position: relative;
}
.partners img.partner {
    padding: 14px;
}
.partners .partner-cloumn {
    border-left: 1px solid #272936;
}

.partners .partner-cloumn:first-child {
    border-left: 0;
}
.partners:after {
    position: absolute;
    content: '';
    width: 87px;
    height: 30px;
    background-image: url(../images/partners/other.png);
    bottom: -40px;
    right: 80px;
}
a.footer-link-1 {
    color: #fff;
    border-bottom: 1px solid #414455;
    padding-bottom: 5px;
}

a.footer-link-1 i.fa {
    padding: 0 5px;
    color: #3e4152;
}

a.footer-link-1:hover {
    text-decoration: none;
}

a.footer-link-1 {
    color: #fff;
    border-bottom: 1px solid #414455;
    padding-bottom: 5px;
    margin-right: 15px;
}

a.footer-link-1 i.fa {
    padding: 0 5px;
    color: #3e4152;
}

a.footer-link-1:hover {
    text-decoration: none;
}

.under-links a {
    color: #707176;
    font-size: 15px;
}

.under-links {
    margin-top: -10px !important;
    display: flex;
    width: 700px;
    margin: 0px auto;
    justify-content: space-around;
    padding-left: 143px;
    margin-bottom: 27px;
}

.footer-logo {
    padding: 8px 0;
}

.block-6 {
    margin-top: 25px;
}

.footer-logo span {
    color: #7a7b7f;
    font-size: 14px;
    padding-left: 15px;
}

.yellow-links a {
    color: #f9da10;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 10px;
    border-left: 1px solid #282a39;
}

.yellow-links {
    margin-top: 10px;
}

.yellow-links a:first-child {
    border-left: 0;
}
.block-6 .btn-outline.btn-flag.btn-select {
    width: 150px;
    opacity: .7;
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 1px;
    position: relative;
}
.btn-flag:after,
.btn-select:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 10px;
    top: 14px;
}
.btn-flag:after {
    background-image: url(../images/rus-flag.png);
    left: 17px;
}
.btn-select:before {
   background-image: url(../images/btn-arrow.png);
   right: 17px;
}

.owl-carousel .owl-stage {
    display: flex;
}
.footer {
    position: relative;
}

.footer:before {
    position: absolute;
    left: -287px;
    bottom: 0;
    width: 100%;
    height: 410px;
    content: '';
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../images/hand-footer.png);
    z-index: 0;
}

@media (min-width:0px) and (max-width:1180px) {
    .footer:before {
        display: none;
    }
    .header-slider .owl-prev {
        left: 0px;
    }
    .header-slider .owl-next {
        right: 0px;
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    .header-card:after {
        right: -500px;
    }
}

@media (min-width:991px) and (max-width:1024px) {
    .header-card:after,
    .block-2:after {
        display: none;
    }
    h4.title-1 {
        text-align: center;
    }

    ul.list-1 {
        width: 290px;
        margin: 0 auto;
    }

    button.btn.btn-primary {
        margin: 0 auto;
        max-width: 390px;
        width: 100%;
        display: block;
    }

    .text-4 {
        text-align: center;
    }
    .cost-card:after {
        display: none;
    }
}

@media (min-width:0) and (max-width:991px) {
    .section-slider .owl-prev {
        left: 0px;
    }

    .section-slider .owl-next {
        right: 0px;
    }
    ul.list-2:after,
    .cost-card:after {
        display: none;
    }
    .header-card:after,
    .block-2:after {
        display: none;
    }
    h4.title-1 {
        text-align: center;
    }

    ul.list-1 {
        width: 290px;
        margin: 0 auto;
    }

    button.btn.btn-primary {
        margin: 0 auto;
        max-width: 390px;
        width: 100%;
        display: block;
    }

    .text-4 {
        text-align: center;
    }
    h3.title-3 {
        text-align: center;
    }

    .card-content .card-title-1 {
        padding: 25px 0;
        margin: 0 auto;
    }

    .card-content .card-title-2 {
        margin: 0px auto;
    }

    .text-6 {
        text-align: center;
        margin: 0 auto;
    }

    .cost-card {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .expansions {
        display: block;
        margin: 0;
    }
    .expansions img {
        display: inline-block;
    }

    .expansions {
        text-align: center;
    }
    .block-4:after {
        display: none;
    }

    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 40px;
    }

    .section-5:after {
        display: none;
    }

    h3.title-4 {
        text-align: center;
    }

    .text-7,.text-8 {
        text-align: center;
        width: 100%;
        padding: 24px;
        padding-top: 7px;
        margin: 0 auto;
    }

    .text-8.underline-1:after {
        display: none;
    }
    .footer .links {
        display: block;
    }

    .footer .links a {
        display: block;
        width: 100%;
        padding: 10px 5px;
        text-align: center;
    }

    .footer .title-8 {
        text-align: center;
    }

    .text-9 {
        text-align: center;
    }

    .footer .btn-outline {
        margin-bottom: 12px;
    }

    a.footer-link-1 {
        width: fit-content;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .section-slider:before {
        right: -480px;
    }
    .section-slider:after {
        left: -480px;
    }
    .footer .title-8.mt-5 {
        margin-top: 17px !important;
    }

    .partners:after {
        display: none;
    }

    .under-links {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 21px;
    }

    .yellow-links a {
        width: 100%;
        display: block;
        margin: 0;
        border: none;
    }

    .block-6 .btn-outline.btn-flag.btn-select {
        width: 100%;
    }
}

@media (min-width:0) and (max-width:768px) {
    .section-slider .owl-prev {
        left: 0px;
    }
    .section-slider:before {
        right: -480px;
    }
    .section-slider:after {
        left: -480px;
    }
    .section-slider .owl-next {
        right: 0px;
    }
    h3.title-4 {
        font-size: 8vw;
        line-height: inherit;
        padding-top: 10px;
    }

    .block-5 {
        margin-bottom: -65px;
    }
    .header-card:before {
        min-height: 100%;
    }
    .header-card .card-content {
        min-height: 165px;
    }
    .slider-2 .slider-card {
        max-width: 91vw;
    }
    .slider-1 .owl-item {
        width: 100vw !important;
    }
    .expansions {
        display: block;
        margin: 0;
    }
    .expansions img {
        display: inline-block;
    }

    .expansions {
        text-align: center;
    }
    .block-4:after {
        display: none;
    }

    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 40px;
    }
    .section-5:after {
        display: none;
    }

    h3.title-4 {
        text-align: center;
    }

    .text-7,.text-8 {
        text-align: center;
        width: 100%;
        padding: 24px;
        padding-top: 7px;
        margin: 0 auto;
    }

    .text-8.underline-1:after {
        display: none;
    }

}

@media (max-width:575px) {
    .block-4:after {
        display: none;
    }
    .section-slider .owl-prev {
        left: 0px;
    }

    .section-slider .owl-next {
        right: 0px;
    }
    .section-slider:before {
        right: -480px;
    }
    .section-slider:after {
        left: -480px;
    }
    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 25px;
    }
    .block-4 .block-content h3 {
        font-size: 8vw;
        line-height: initial;
    }

    .block-4 .block-content p {
        font-size: 5vw;
        line-height: initial;
    }
    .card-content .card-title-2 {
        font-size: 40px;
        padding-bottom: 0;
        height: auto;
        text-align: center;
        width: 100%;
    }

    .card-content .card-title-2:after {
        bottom: 0px;
        width: 85%;
        margin: 0px auto;
        margin-left: 10%;
    }

    .card-content .card-title-2:before {
        display: none;
    }

    .text-6 {
        width: 100%;
    }

    h3.title-3 {
        margin: 0;
        padding: 25px 0;
    }
    .card-content .card-title-1 {
        display: block;
        width: auto;
    }

    .card-title-1 .title-cost {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .card-title-1 .title-red {
        margin: 0 auto;
        text-align: center;
    }
    .card-content .card-title-2 {
        font-size: 40px;
        padding-bottom: 0;
        height: auto;
        text-align: center;
        width: 100%;
    }

    .card-content .card-title-2:after {
        bottom: 0px;
        width: 85%;
        margin: 0px auto;
        margin-left: 10%;
    }

    .card-content .card-title-2:before {
        display: none;
    }

    .text-6 {
        width: 100%;
    }

    h3.title-3 {
        margin: 0;
        padding: 25px 0;
    }
    h4.title-1 {
        font-size: 8vw;
        line-height: initial;
    }
    section.section-3 .container {
        padding-top: 170px;
    }
    .section-3 h2 {
        text-shadow: 0px 0px 11px #02356f;
        margin-top: 355px;
    }
    ul.list-1 .item-number {
        padding: 0;
        font-size: 50px;
    }
    .header-flex {
        display: block;
    }
    .header-slider .owl-next,
    .header-slider .owl-prev {
        bottom: 50%;
        opacity: .6;
    }
    .slider-1:before,
    .slider-1:after {
        display: none;
    }
    .owl-carousel.slider-1 .owl-item img {
        width: 100px;
    }

    .owl-carousel.slider-1 .owl-item h4 {
        font-size: 4vw;
        margin-top: -5px;
    }

    .owl-carousel.slider-1 .owl-item .item-content {
        font-size: 4vw;
        line-height: initial;
    }

    .header-slider:after {
        top: 10px;
    }
    button.btn {
        width: 100%;
    }
    .header-block h1 {
        font-size: 8vw;
        line-height: initial;
        margin-top: 15px;
    }

    .text-1, .text-7 {
        font-size: 6vw;
        line-height: initial;
    }

    .header-block {
        padding-bottom: 30px;
    }
}
