@import 'tailwindcss';

@import 'tw-animate-css';

body,
html {
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    width: 100%;
    background-color: #ffffff;
}

section.section-1 {
    background-image: url('/images/webp/new_bg_test.webp');
    background-repeat: no-repeat;
    background-color: #001e57;
    background-position: top center;
    position: relative;
}

section.section-1:after {
    position: absolute;
    content: '';
    bottom: -100px;
    left: calc(50vw - 960px);
    width: 1920px;
    height: 290px;
    background: #001e57;
    background-image: url('/images/webp/bg-2.webp');
    z-index: 1;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-block {
    padding-top: 50px;
    padding-bottom: 150px;
}

.header-block .logo-icon {
    background-image: url('/images/webp/gm-logo.webp');
    width: 34px;
    height: 34px;
}

.header-block h1 {
    color: #fff;
    font-size: 45px;
    max-width: 550px;
    margin-top: 65px;
    font-weight: bold;
    letter-spacing: 1.2px;
    line-height: 58px;
}

.text-1,
.text-7 {
    margin-top: 40px;
    font-size: 20px;
    color: #85a4b9;
    max-width: 440px;
    margin-bottom: 0;
}

.text-2,
.text-8 {
    color: #fffeff;
    font-size: 22px;
    letter-spacing: -0.8px;
    margin-bottom: 50px;
}

.text-3 {
    color: #feffff;
    font-size: 14px;
    padding: 16px;
    letter-spacing: 0.2px;
}

.text-4 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 18px;
}

.text-5 {
    text-align: center;
    margin-top: 24px;
    font-size: 26px;
    line-height: 37px;
    letter-spacing: 0px;
    margin-left: -30px;
    color: #bcc2e5;
}

.underline-1 {
    position: relative;
}

.underline-1:after {
    position: absolute;
    bottom: -4px;
    left: 8px;
    width: 143px;
    height: 5px;
    background-image: url('/images/webp/underline-1.webp');
    content: '';
}

button.btn.btn-primary {
    border: 0;
    background-color: #f9d914 !important;
    color: #010002 !important;
    padding: 21px 68px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus,
.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active:hover,
.show > .btn-primary.dropdown-toggle:hover,
.btn-primary.focus,
.btn-primary:hover {
    box-shadow: 0 6px 40px #f9d91496;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

.button-hint {
    color: #fada16;
    padding: 9px 38px;
    font-size: 18px;
    font-weight: bold;
}

.header-card {
    position: relative;
}

.header-card .grid {
    position: relative;
    z-index: 1;
}

.header-card .grid > div {
    position: relative;
    padding: 0 20px;
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.header-card .grid > div:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #e5e5e5;
    z-index: 2;
}

.header-card:before {
    position: absolute;
    background: #ffffff;
    width: 1570px;
    min-height: 485px;
    content: '';
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}

.header-card .card-image {
    width: 260px;
    height: 175px;
    margin: 0 auto;
}

.header-card .card-image.card-icon-1 {
    background-image: url('/images/webp/header-card-icon-1.webp');
}

.header-card .card-image.card-icon-2 {
    background-image: url('/images/webp/header-card-icon-2.webp');
}

.header-card .card-image.card-icon-3 {
    background-image: url('/images/webp/header-card-icon-3.webp');
}

.header-slider-wrapper:before {
    position: absolute;
    top: 100px;
    left: -50vw;
    right: -50vw;
    height: 353px;
    content: '';
    background-image: url('/images/png/line-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 0;
}

.header-card h4.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #0a0a0a;
    padding: 9px 0;
    line-height: 24px;
    text-align: center;
    margin-bottom: 0;
}

.header-card .card-content {
    padding: 0;
    text-align: center;
    max-width: 300px;
    letter-spacing: -0.5px;
    margin: 0 auto;
    color: #7c7c7c;
    min-height: 245px;
}
.block-1 {
    text-align: center;
    position: relative;
    z-index: 2;
}

h4.title-1 {
    font-size: 48px;
    color: #010101;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 0;
}

.block-2 {
    margin-top: 153px;
    position: relative;
    z-index: 3;
}

ul.list-1 {
    margin: 0;
    padding: 0;
}

ul.list-1 li.list-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    position: relative;
    padding: 15px 0;
}

ul.list-1 li.list-item:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 35%;
    background-color: #d1d1d1;
    opacity: 0.5;
    z-index: -1;
}

ul.list-1 .item-number {
    color: #f9d912;
    font-size: 72px;
    font-weight: bold;
    padding: 3px 0;
}

ul.list-1 .item-text {
    width: 220px;
    font-size: 17px;
    font-weight: bold;
    margin-left: 13px;
    letter-spacing: 1.3px;
    margin-top: 4px;
}

.block-2:after {
    position: absolute;
    bottom: 6px;
    right: -81px;
    content: '';
    width: 830px;
    height: 537px;
    background-image: url('/images/webp/block-2-image.webp');
}

section.section-3:before {
    background-image: url('/images/webp/bg-3.webp');
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -70px;
    left: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #001d55;
}

section.section-3:after {
    background-image: url('/images/webp/bg-4.webp');
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    bottom: 10px;
    left: 0;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.section-3 h2 {
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 1px;
}

section.section-3 {
    position: relative;
    z-index: 2;
}

section.section-3 .container {
    padding-top: 622px;
    padding-bottom: 100px;
    color: #fffffd;
    position: relative;
}

.section-2 {
    z-index: 88;
    background-color: #ffffff !important;
    color: #000000;
}

.section-2 * {
    color: inherit;
}

.section-2 .max-w-7xl {
    background-color: #ffffff;
}

.review-slider {
    position: relative;
    margin-bottom: 72px;
    z-index: 2;
}

.review-slider:after,
.review-slider:before {
    position: absolute;
    background: rgb(0, 29, 85);
    width: 500px;
    height: 100%;
    top: 0;
    content: '';
    z-index: 2;
}

.review-slider:after {
    left: -470px;
    background: linear-gradient(90deg, rgba(0, 29, 85, 0.95) 0%, rgba(0, 29, 85, 0.7) 50%, rgba(0, 29, 85, 0.4) 85%, rgba(0, 29, 85, 0) 100%);
}

.review-slider:before {
    right: -470px;
    background: linear-gradient(90deg, rgba(0, 29, 85, 0) 0%, rgba(0, 29, 85, 0.4) 15%, rgba(0, 29, 85, 0.7) 50%, rgba(0, 29, 85, 0.95) 100%);
}

.custom-arrow:focus {
    outline: none;
    box-shadow: none;
}

h3.title-2 {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5px;
}

ul.list-2 {
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: relative;
}

ul.list-2:after {
    position: absolute;
    width: 973px;
    height: 2px;
    content: '';
    background-image: url('/images/webp/line-2.webp');
    top: 83px;
    left: calc(50% - 486.5px);
}

ul.list-2 .list-item {
    list-style: none;
    width: 159px;
    text-align: center;
    padding-top: 118px;

    line-height: 22px;
    position: relative;
    z-index: 2;
    flex: 0;
}

ul.list-2 li.list-item:after {
    position: absolute;
    width: 60px;
    height: 60px;
    content: '';
    top: 45px;
    left: calc(50% - 30px);
    background-image: url('/images/webp/icon-check.webp');
    z-index: 1;
}

h3.title-3 {
    font-weight: 700;
    font-size: 45px;
    padding: 28px 94px;
    margin-bottom: 15px;
    color: #000;
}

.cost-card {
    background-color: #f9d914;
    border-radius: 35px;
    position: relative;
}

.cost-card:after {
    position: absolute;
    top: -250px;
    right: 43px;
    content: '';
    background-image: url('/images/webp/block-3-image.webp');
    width: 564px;
    height: 482px;
}

.card-content .card-title-1 {
    padding: 47px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
}

.card-title-1 .title-cost {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    width: 180px;
    letter-spacing: 1px;
    margin-left: 45px;
    text-decoration: line-through;
}

.card-title-1 .title-red {
    color: #f00;
    font-weight: bold;
    font-size: 17px;
    margin-top: 6px;
    width: 210px;
}

.card-content .card-title-2 {
    font-size: 68px;
    font-weight: bold;
    color: #000;
    margin-left: 83px;
    margin-top: -10px;
    padding: 0 0px 0px 3px;
    position: relative;
    width: 382px;
    height: 102px;
}

.card-content .card-title-2:after {
    position: absolute;
    content: '';
    height: 16px;
    width: 100%;
    background: #f00;
    bottom: 14px;
    left: 0;
    z-index: 0;
}

.text-6 {
    width: 400px;
    font-size: 16px;
    margin: 16px 110px;
    color: #887809;
    letter-spacing: -0.5px;
    line-height: 24px;
    padding-bottom: 57px;
}

.card-content .card-title-2:before {
    content: '600 ₽ / год *';
    z-index: 1;
    position: absolute;
    width: 382px;
    height: 102px;
}

.expansions {
    display: flex;
    color: #000;
    margin: 0px 75px;
    margin-right: 0px;
    margin-bottom: -10px;
}

.expansions p {
    min-width: 280px;
    font-size: 20px;
    font-weight: bold;
    padding: 21px 0;
    line-height: 32px;
    color: #000;
}

.expansions img {
    width: 118px;
    height: 70px;
    margin: 24px 0;
    border-left: 1px solid #e5e5e5;
    padding-left: 14px;
}

.block-4 {
    background-color: #f5f6f0;
    margin-top: 40px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}

.block-4 .block-content {
    width: 500px;
    margin-left: 640px;
    padding: 72px 0px;
    padding-bottom: 56px;
}

.block-4 .block-content h3 {
    font-size: 45px;
    font-weight: bold;
    padding: 0 12px;
    color: #000;
}

.block-4 .block-content p {
    font-size: 19px;
    padding: 17px 11px;
    letter-spacing: -0.5px;
    padding-right: 95px;
    line-height: 33px;
    color: #000;
}

.block-4 .block-content p a {
    color: #006a95;
}

.block-4:after {
    position: absolute;
    bottom: -8px;
    left: 95px;
    width: 520px;
    height: 460px;
    background-image: url('/images/webp/block-4-image.webp');
    content: '';
    z-index: 0;
}

h3.title-4 {
    font-weight: bold;
    color: #000100;
    font-size: 55px;
    padding: 62px 0;
    line-height: 58px;
    padding-bottom: 0;
    margin-bottom: -4px;
}

.text-7 {
    color: #99999b;
}

.text-8 {
    color: #000100;
}

.block-5 {
    padding-bottom: 140px;
    position: relative;
}

.section-5 {
    position: relative;
    z-index: 0;
}

.section-5:after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 778px;
    background-image: url('/images/webp/block-5-image.webp');
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -1;
}

a:hover {
    color: #eacc14 !important;
}

.footer .links {
    display: flex;
    justify-content: space-between;
}

.footer .links a {
    color: #fffeff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    padding: 38px 0px;
    padding-bottom: 19px;
}

.footer hr {
    border-top: 1px solid rgb(39, 41, 56);
}

hr {
    border: none;
    height: 1px;
    background-color: #e5e5e5;
    margin: 40px 0;
}

.footer .title-8 {
    color: #7a7b7f;
    font-weight: bold;
    font-size: 18px;
    margin-top: 16px;
}

.text-9 {
    color: #fdfefc;
    padding-top: 2px;
    line-height: 22px;
}

.text-9 img {
    margin-top: 20px;
}

.footer .btn-outline {
    border: 1px solid #333542;
    color: #fff;
    border-radius: 7px;
    padding: 12px 0;
    padding-right: 20px;
    margin-bottom: 10px;
}

.footer .btn-outline i.fa {
    color: #585a67;
    padding: 0 15px;
}

.footer .btn-outline:hover {
    background: #181a27;
}

.partners {
    position: relative;
}

.partners img.partner {
    margin: 0 auto;
    padding: 14px;
}

.partners .partner-cloumn {
    border-left: 1px solid #272936;
}

.partners .partner-cloumn:first-child {
    border-left: 0;
}

.partners:after {
    position: absolute;
    content: '';
    width: 87px;
    height: 30px;
    background-image: url('/images/webp/partners/other.webp');
    bottom: -40px;
    right: 80px;
}

a.footer-link-1 {
    color: #fff;
    border-bottom: 1px solid #414455;
    padding-bottom: 5px;
}

a.footer-link-1 i.fa {
    padding: 0 5px;
    color: #3e4152;
}

a.footer-link-1:hover {
    text-decoration: none;
}

a.footer-link-1 {
    color: #fff;
    border-bottom: 1px solid #414455;
    padding-bottom: 5px;
    margin-right: 15px;
}

a.footer-link-1 i.fa {
    padding: 0 5px;
    color: #3e4152;
}

a.footer-link-1:hover {
    text-decoration: none;
}

.under-links a {
    color: #707176;
    font-size: 15px;
}

.under-links {
    margin-top: -10px !important;
    display: flex;
    width: 900px;
    margin: 0px auto;
    justify-content: space-around;
    padding-left: 200px;
    margin-bottom: 27px;
}

.footer-logo {
    padding: 8px 0;
}

.block-6 {
    margin-top: 25px;
}

.footer-logo span {
    color: #7a7b7f;
    font-size: 14px;
    padding-left: 15px;
}

.footer-logo {
    display: flex;
    align-items: center;
}
.footer-logo img {
    margin-right: 5px;
}

.yellow-links a {
    color: #f9da10;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 10px;
    border-left: 1px solid #282a39;
}

.yellow-links {
    margin-top: 10px;
}

.yellow-links a:first-child {
    border-left: 0;
}

.block-6 .btn-outline.btn-flag.btn-select {
    width: 150px;
    opacity: 0.7;
    padding: 9px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 1px;
    position: relative;
}

.btn-flag:after,
.btn-select:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 10px;
    top: 14px;
}

.btn-flag:after {
    background-image: url('/images/webp/rus-flag.webp');
    left: 17px;
}

.btn-select:before {
    background-image: url('/images/webp/btn-arrow.webp');
    right: 17px;
}

.footer {
    position: relative;
}

.hand {
    animation-name: spin-top;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-top {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }

    25% {
        transform: rotate(5deg);
        transform-origin: bottom;
    }

    50% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }

    75% {
        transform: rotate(-5deg);
        transform-origin: bottom;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }
}

@media (min-width: 0px) and (max-width: 1180px) {
    .footer:before {
        display: none;
    }
    ul.list-1 li.list-item:not(:last-child)::after {
        display: none;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .header-card:after {
        right: -500px;
    }

    .header-card:before {
        width: 1570px;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .header-card:after,
    .block-2:after {
        display: none;
    }

    /* Скрываем серые полоски между карточками на планшетах */
    .header-card .grid > div:not(:last-child)::after {
        display: none;
    }

    h4.title-1 {
        text-align: center;
    }

    ul.list-1 {
        width: 290px;
        margin: 0 auto;
    }

    button.btn.btn-primary {
        margin: 0 auto;
        max-width: 390px;
        width: 100%;
        display: block;
    }

    .text-4 {
        text-align: center;
    }

    .cost-card:after {
        display: none;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    ul.list-2:after,
    .cost-card:after {
        display: none;
    }

    ul.list-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    ul.list-2 .list-item {
        width: 48%;
        min-width: 140px;
        max-width: 180px;
        margin-bottom: 24px;
        padding-top: 150px;
    }
    ul.list-2 li.list-item:after {
        top: 20px;
    }

    .header-card:after,
    .block-2:after {
        display: none;
    }

    /* Скрываем серые полоски между карточками на мобильных устройствах */
    .header-card .grid > div:not(:last-child)::after {
        display: none;
    }

    .header-card .grid {
        padding: 1px 10px;
    }

    h4.title-1 {
        text-align: center;
    }

    ul.list-1 {
        width: 290px;
        margin: 0 auto;
    }

    button.btn.btn-primary {
        margin: 0 auto;
        max-width: 390px;
        width: 100%;
        display: block;
    }

    .text-4 {
        text-align: center;
    }

    h3.title-3 {
        text-align: center;
    }

    .card-content .card-title-1 {
        padding: 25px 0;
        margin: 0 auto;
    }

    .card-content .card-title-2 {
        margin: 0px auto;
    }

    .text-6 {
        text-align: center;
        margin: 0 auto;
    }

    .cost-card {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .expansions {
        display: block;
        margin: 0;
    }

    .expansions img {
        display: inline-block;
    }

    .expansions {
        text-align: center;
    }

    .block-4:after {
        display: none;
    }

    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 40px;
    }

    .section-5:after {
        display: none;
    }

    h3.title-4 {
        text-align: center;
    }

    .text-7,
    .text-8 {
        text-align: center;
        width: 100%;
        padding: 24px;
        padding-top: 7px;
        margin: 0 auto;
    }

    .text-8.underline-1:after {
        display: none;
    }

    .footer .links {
        display: block;
    }

    .footer .links a {
        display: block;
        width: 100%;
        padding: 10px 5px;
        text-align: center;
    }

    .footer .title-8 {
        text-align: center;
    }

    .text-9 {
        text-align: center;
    }

    .text-9 a img {
        display: block;
        margin: 20px auto 0 auto;
    }

    .footer .btn-outline {
        margin-bottom: 12px;
    }

    a.footer-link-1 {
        width: fit-content;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .review-slider:before {
        right: -480px;
    }

    .review-slider:after {
        left: -480px;
    }

    .footer .title-8.mt-5 {
        margin-top: 17px !important;
    }

    .partners:after {
        display: none;
    }

    .under-links {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 21px;
    }

    .yellow-links a {
        width: 100%;
        display: block;
        margin: 0;
        border: none;
    }

    .block-6 .btn-outline.btn-flag.btn-select {
        width: 100%;
    }
}

@media (min-width: 0) and (max-width: 768px) {
    .section-slider:before {
        right: -480px;
    }

    .section-slider:after {
        left: -480px;
    }

    h3.title-4 {
        font-size: 8vw;
        line-height: inherit;
        padding-top: 10px;
    }

    .block-5 {
        margin-bottom: -65px;
    }

    .header-card:before {
        min-height: 100%;
        width: 1570px;
    }

    .header-card .card-content {
        min-height: 165px;
    }

    .slider-2 .slider-card {
        max-width: 91vw;
    }

    .expansions {
        display: block;
        margin: 0;
    }

    .expansions img {
        display: inline-block;
    }

    .expansions {
        text-align: center;
    }

    .block-4:after {
        display: none;
    }

    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 40px;
    }

    .section-5:after {
        display: none;
    }

    h3.title-4 {
        text-align: center;
    }

    .text-7,
    .text-8 {
        text-align: center;
        width: 100%;
        padding: 24px;
        padding-top: 7px;
        margin: 0 auto;
    }

    .text-8.underline-1:after {
        display: none;
    }
}

@media (max-width: 575px) {
    section.section-1 {
        background-image: none;
        background-color: #001e57;
    }

    section.section-1:after {
        width: 100vw;
        height: 150px;
        bottom: 0;
        background-size: cover;
        background-position: center bottom;
    }

    .header-card:before {
        width: 1570px;
        min-height: 100%;
    }

    ul.list-1 li.list-item:not(:last-child)::after {
        display: none;
    }

    .block-4:after {
        display: none;
    }

    .review-slider:before {
        right: -480px;
    }

    .review-slider:after {
        left: -480px;
    }

    .block-4 .block-content {
        margin-left: 0;
        margin: 0 auto;
        width: 100%;
        padding: 25px;
    }

    .block-4 .block-content h3 {
        font-size: 8vw;
        line-height: initial;
    }

    .block-4 .block-content p {
        font-size: 5vw;
        line-height: initial;
    }

    .card-content .card-title-2 {
        font-size: 40px;
        padding-bottom: 0;
        height: auto;
        text-align: center;
        width: 100%;
    }

    .card-content .card-title-2:after {
        bottom: 0px;
        width: 85%;
        margin: 0px auto;
        margin-left: 10%;
    }

    .card-content .card-title-2:before {
        display: none;
    }

    .text-6 {
        width: 100%;
    }

    h3.title-3 {
        margin: 0;
        padding: 25px 0;
    }

    .card-content .card-title-1 {
        display: block;
        width: auto;
    }

    .card-title-1 .title-cost {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .card-title-1 .title-red {
        margin: 0 auto;
        text-align: center;
    }

    .card-content .card-title-2 {
        font-size: 40px;
        padding-bottom: 0;
        height: auto;
        text-align: center;
        width: 100%;
    }

    .card-content .card-title-2:after {
        bottom: 0px;
        width: 85%;
        margin: 0px auto;
        margin-left: 10%;
    }

    .card-content .card-title-2:before {
        display: none;
    }

    .text-6 {
        width: 100%;
    }

    h3.title-3 {
        margin: 0;
        padding: 25px 0;
    }

    h4.title-1 {
        font-size: 8vw;
        line-height: initial;
    }

    section.section-3 .container {
        padding-top: 170px;
    }

    .section-3 h2 {
        text-shadow: 0px 0px 11px #02356f;
        margin-top: 355px;
    }

    ul.list-1 .item-number {
        padding: 0;
        font-size: 50px;
    }

    .header-flex {
        display: block;
    }

    button.btn {
        width: 100%;
    }

    .header-block h1 {
        font-size: 8vw;
        line-height: initial;
        margin-top: 15px;
    }

    .text-1,
    .text-7 {
        font-size: 6vw;
        line-height: initial;
    }

    .header-block {
        padding-bottom: 30px;
    }
}

@media (max-width: 648px) {
    .footer_navBlock {
    }

    .footer_navBlock li {
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }

    .partner_link {
        display: none !important;
    }
}

@media (max-width: 529px) {
    .footer_block {
        flex-direction: column !important;
    }

    .footer_upBlock {
        width: 100%;
    }

    .upBlock_phones {
        width: 100%;
        flex-direction: initial !important;
        margin-bottom: 14px;
    }

    .footer_downBlock {
        margin: 0 !important;
    }

    .politic {
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 940px) {
    .list_footer {
        margin-left: 50px;
    }
}

@media (max-width: 767px) {
    .pay_block {
        display: none !important;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    ul.list-2 .list-item {
        padding-top: 135px;
    }
    ul.list-2 li.list-item:after {
        top: 30px;
    }
}
