@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@config "./tailwind.config.js";
@tailwind utilities;

body
{
     overflow: visible;
}
.descSectionMob
    {
        display: none;
    }

.tariff-section
{
    overflow: visible;
}
.mainSection
{
     overflow: visible;
}
.rectangles
{
    margin-top: -3rem;
    width: 6rem;
    height: 6rem;
}
 .tariff-status
 {
    cursor: pointer;
 }
.arrowFooter
{
    transform: rotate(180deg)
}
.tariff-details
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.popular
{
    position: absolute;
    left: 114%;
    bottom: 40%;
    height: auto;
    width: 100%;
}
.rectangles--first
{
    filter: blur(0px) drop-shadow(0px -3px 10px rgba(255, 255, 255, 0.75));
}
.rectangles--second
{
    filter: blur(0px) drop-shadow(0px -3px 15px rgb(244, 185, 16));
    width: 6rem;
    height: 6rem;
}
.rectangles--third
{
    filter: blur(0px) drop-shadow(0px -3px 15px rgb(62, 119, 220));
}
.dashes-underline
{
    text-decoration: underline;
    text-decoration-style: dashed;
}
.dashes-underline-second
{
    text-decoration-color:#3c5b92;
}
.saleWrapper
{

    padding-bottom: 80px;
    padding-top: 60px;
}
.saleWrapper::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.saleBlock
{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.saleBlock:hover
{

  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.secondSale
{
    background-color: #0b3277;
}
.goinBtn
{
    background-color: #f4d710;
    transition: .3s linear;
    &:hover
    {
        background-color: #ffeb24;
    }

}
.goinBtnFree
{
    background-color: #e7ecf3;
    &:hover
    {
        background-color: #d7dadd;
    }
}
.markTariff
{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.borderSec
{
    --tw-border-opacity: 1;
    border-top-width: 1px;
    border-color: rgb(35, 70, 133 )
}
        .custom-radio {
            display: none;
        }


         .checkmark {
            width: 24px;
            height: 24px;
            background-color: #6d84ad;
            border: none;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            transition: background-color 0.3s, border-color 0.3s;

        }
          .custom-radio +  .checkmark--sec
          {
            background-color: #dce4ef;
          }

        .custom-radio:checked + .checkmark {
           background-color: #f4d710;
    border-color: #f4d710;
        }


        .custom-radio:checked + .checkmark::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 11px;
            border: solid black;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            left: 9px;
            top: 5px;
            border-radius: 2px;
        }


.container {
    display: flex;
}
.gm-card-text, .development-text {
    font-size: 16px;
}


.modal, .modalSec {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content, .modal-content-Sec {
    background-color: white;
    border-radius: 8px;
    width: 400px;
}

.modal-body, .modal-body-Sec {
    padding-bottom: 54px;
    padding-top: 32px;
    padding-left: 40px;
    padding-right: 40px;
}

.hiddenPop, .hiddenPopSec {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.close-button, .close-button-Sec {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.popUpImg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 246, 251, 1) 35%);
}



.features-section
{
  transition: .3s linear;
}
.tariff-info-image {
  transition: .3s linear;

}

.tariff-info-image-hover {
  display: none;
  transition: .3s linear;
}

.tariff-info-image:hover {
  display: none;
}

.tariff-info-image:hover + .tariff-info-image-hover {
  display: block;
}
.image-itemSec
{
  transition: .3s linear;
}

.features-section:hover
{
  background-color: #10264d;
  .image-itemSec
  {
    background-color: #1d2f53;
  }
}


@media (max-width: 440px) {

    .descSection
    {
        display: none;
    }
    .descSectionMob
    {
        display: block;
        margin-bottom: 36px;
    }
    .gm-card-text, .development-text
    {
        font-size: 11px;
    }
    .saleWrapper
    {
        padding-bottom: 0px;
    }
    .saleBlock
    {
        width: 310px;
        padding: 2px 25px;
        height: auto;
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    .mainSection
    {
        padding: 16px;
    }
    .rectangles
    {
        margin-top: -1.5rem;
        width: 5rem;
        height: 5rem;
    }
    .tariffName-F
    {
        font-size: 2.65rem;
    }
    .discount
    {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .btnTariff
    {
        padding: 14px 33px;
    }
    .goinBtnFree
    {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .tariffAb
    {
        padding: 0;
        margin-bottom: 10px;
    }
}


@media (max-width: 768px) {

    .btnTariff
    {
        padding: 16px 35px;
    }
    .checkTariff
    {
        padding: 8px;
    }
    .checkTariffExp
    {
        padding: 8px;
        margin-bottom: 9px;
    }
    .firstCheckTariff
    {
        margin-bottom: 7px;
    }
    .SecondCheckTariff
    {
        gap: 0;
        margin-top: 9px;
    }
    .SecondCheckTariffExp
    {
        gap: 0;
        margin-top: 9px;
    }
    .tariffRaz
    {
            margin-left: -0.5rem;
            margin-right: -0.5rem;
    }
    .modal-content, .modal-content-Sec {
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        width: 100%;
        transition: bottom 0.3s ease, opacity 0.3s ease;
        opacity: 0;
    }

    .hand
    {
        display: none;
    }
    .modal.show .modal-content, .modalSec.show .modal-content-Sec  {
        bottom: 0;
        opacity: 1;
    }

    .modal.hiddenPop .modal-content{
        bottom: -100%;
        opacity: 0;
    }

     .modalSec.hiddenPopSec .modal-content-Sec {
        bottom: -100%;
        opacity: 0;
    }

    .modal-body, .modal-body-Sec {
        padding: 16px;
    }
        .footer_block {
            display: none;
        }

        .footer_navBlock {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .footer_navBlock li {
            margin-bottom: 10px;
        }

        .footer_upBlock {
            margin-bottom: 20px;
        }

        .pay_block {
            margin-top: 20px;
        }

        .partner_link {

            align-items: center;
        }

        .partner_link li {
            margin-bottom: 10px;
        }


}

@media (min-width: 1025px) {
    .profMenu
    {
        flex-direction: column;
    }
}



.tariff-section {
    padding: 80px 330px;
}


@media (max-width: 1330px) {
    .tariff-section
    {
        padding: 0;
    }
    .tariff-info {
      width: auto;
    position: static;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    }

    .tariff-details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .tariff-details-Bottom
    {
        display: block;
    }
    .tariff-header
    {
        text-align: left;
    }
    .tariff-plans {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
    }
    .tariff-status
    {
        cursor: pointer;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
            border-bottom: 1px solid #293c5d;
            border-radius: 0;
    }
    .tariff-info-image
    {
      position: static;
    }
    .tariff-info-image-hover
    {
       position: static;
    }
    .image-itemSec
    {
        background-color: transparent;
        border-bottom: 1px solid #495975;
    }
    .features-section:hover
    {
        background-color: #10264d;
        .image-itemSec
        {
            background-color: transparent;
        }
    }
    .tarifPro
    {
        background-color: transparent;
        border-bottom: 1px solid #495975;
        padding:0;
        padding-bottom: 10px;
    }
    .tarifPro-Bottom
    {
        border: none;
    }
    .tarifFree
    {
        padding: 0;
        padding-bottom: 10px;

    }
    .tarifExp
    {
        padding: 0;
        padding-bottom: 10px;
    }
    .features-title
    {
        display: flex;
        br
        {
            display: none;
        }
    }
    .features-description {
        margin-top: 15px;
        width: 100%;
    }

    .features-images {
        grid-template-columns: repeat(3, 1fr);
        height: auto;
        width: 100%;
    }

    .image-item {
        height: auto;
        width: auto;
        padding-bottom: 24px;
    }

    .tariff-title {
        margin-top: 15px;
        text-align: left;
        font-weight: bold;
        font-size: 29px;
        br
        {
            display: none;
        }
    }
}


